/2dlist.py
/5programs1.camproj
/array-insert-pop.py
/array1-char.py
/array1-double.py
/array1-float.py
/array1-integer.py
/arrays1.py
/Assignments
/books-pdf
/calendarmth.py
/CarGame.py
/CarGame2.py
/datetime.py
/Defflist.py
/DefParmsMulti.py
/digiwatch1.py
/downloadytvids.py
/duplicateremov.py
/emojiconv.py
/emojis.py
/evenoddlist1
/EvenOddLists.py
/evensoddslist.py
/fibfunc.py
/fiboni.py
/Filing1kboard.py
/firslastname.py
/formatnoalign.py
/GuessGame.py
/JSONFile.py
/largestinlist.py
/leapyearmonths29.py
/letterprints.py
/listwithrange.py
/loopPassClassDef.py
/maxminvals.py
/measureStrings.py
/ModFunc.py
/monthdayyear.py
/myArray.py
/MyCallingFunc.py
/nestedforloop.py
/nestedloop1
/nestedloop2.py
/nestlop1.py
/nstlop2.py
/OrderSys.py
/patientcounttest
/patientrec.py
/patienttesting.py
/primeeven.py
/py1.py
/pywork
/SampleCollection.py
/stringvlues.py
/totalinglist.py
/twinklestar.py
/versionpython.py
/weightconv.py
/__pycache__